@import '~bootstrap/scss/bootstrap.scss';
@import '~react-datepicker/dist/react-datepicker.css';

.custom-date-input {
  border: 1px inset black;
  height: 30px;
}
.pt-point1 {
  padding-top: 0.15rem !important;
}
.nav-border-bottom{
border: 1px inset black;
}